@tailwind base;
@tailwind components;
@tailwind utilities;

.grad{
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 252, 0.2), rgba(0, 0, 0, 0.73))
}


.image-wrapper>img{
    float: left;
    width:  650px;
    height: 250px;
    object-fit: cover;
}

.hero {
    position: relative;
    top: 0;
    z-index: -1;
  }
